##
# PMD Configuration
##

pmd.home=vendor/pmd-4.3

project.home = ../../../chr-krenn-fhj-ws2017-sd17-pse
pmd.src = ${project.home}/src/main/java
pmd.output.format = html
pmd.output.file = reports/pmd-report.html
#pmd.output.format = xml
#pmd.output.file = reports/pmd-report.xml

##
# CPD Configuration
##

cpd.tokens=50
cpd.output.file=reports/cpd-report.txt
cpd.output.format=text
